body{

	font-size: 100%;
	background-color: #FFFFFF;
	background-image: url("000Lock.png"); 
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: 98% 2%;
	padding: 0px;
}

h1 {

	font-size: 3.7vw;
	margin-left: 2%;
	font-family: "Arial Narrow", serif;
	font-weight: lighter;
	color: #797979;
}

.blocprincipal{
	
	display: block;
	background-color: #F0F0F0;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	height: 35.0vw;
	border: 2px solid #C9C9C9;
	border-radius: 25px;
	padding: 0px;
}

.section1{
	
	display: block;
	background-color: #E8E8E8;
	width: 33.33%;
	height: 100%;
	border-radius: 25px 0px 0px 25px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

.lancerrecherche{
	
	cursor: pointer;
	width: 80%;
	font-size: 2.5vw;
	margin-left: 10%;
	margin-top: 18%;
	text-align: center;
	color: #353535;
}

#imageloupe{
	
	cursor: pointer;
	width: 50%;
	height: 35%;
	margin-left: 25%;
	margin-top: 12%;
}

.section2{
	
	display: block;
	background-color: #F7F7F7;
	width: 33.34%;
	height: 100%;
	margin-top: 0px;
	float: left;
}

.vsobtiendrez{
	
	width: 80%;
	font-size: 2.5vw;
	margin-left: 10%;
	margin-top: 18%;
	text-align: left;
	color: #353535;
}

.listeresultatsaobtenir{
	
	width: 80%;
	font-size: 1.5vw;
	margin-left: 10%;
	text-align: left;
	color: #353535;
}

.score{
	
	width: 40%;
	font-size: 2.5vw;
	margin-left: 10%;
	margin-top: 18%;
	text-align: center;
	color: #353535;
}

.listeresultats{
	
	width: 80%;
	font-size: 1.5vw;
	margin-left: 10%;
	margin-top: 18%;
	text-align: left;
	color: #353535;
}

.section3{
	
	display: block;
	background-color: #E8E8E8;
	width: 33.33%;
	height: 100%;
	border-radius: 0px 25px 25px 0px;
	float: left;
}

.listeoptions{
	
	margin-left: 18%;
	margin-top: 10%;
	width: 80%;
	height: 80%;
	font-size: 1.2vw;
	text-align: left;
	color: #353535;
	height: 100%;
}



.imageresultatpetit{
	
	width: 10%;
	height: 10%;
	margin-left: -12%;
	margin-top: 10%;
}

.lien{
	
	text-decoration: none;
	color: #353535; 
	font-weight: bold;
}

#section3-nonvulnerable{
	
	display: block;
	background-color: #C2FFAD;
	width: 33.33%;
	height: 100%;
	border-radius: 0px 25px 25px 0px;
	float: left;
}

#section3-unpeuvulnerable{
	
	display: block;
	background-color: #FFFF80;
	width: 33.33%;
	height: 100%;
	border-radius: 0px 25px 25px 0px;
	float: left;
}

#section3-vulnerable{
	
	display: block;
	background-color: #FF9980;
	width: 33.33%;
	height: 100%;
	border-radius: 0px 25px 25px 0px;
	float: left;
}

.titreresultat{
	
	width: 80%;
	font-size: 2.5vw;
	margin-left: 10%;
	margin-top: 18%;
	text-align: center;
	color: #353535;
}

.imageresultat{
	
	width: 50%;
	height: 35%;
	margin-left: 25%;
	margin-top: 12%;
}

